<h2>New Studio</h2>
<form action="/studio" method="POST">
    <%- include("./form.ejs") %> 
    <a href="/studio" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>