<h2>New Anime</h2>
<form action="/anime" method="POST">
    <%- include("./form.ejs") %> 
    <a href="/anime" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-primary">Add</button>
</form>